* {
  box-sizing: border-box; }

html, body {
  font-size: 10px;
  margin: 0;
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
