@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  box-sizing: border-box; }

html, body {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 3rem;
  background-color: #fafafa; }

.content {
  text-align: center; }
  .content-heading-light {
    color: #4c4e61;
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0; }
  .content-heading {
    color: #4c4e61;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0; }
  .content-description {
    color: #a3a5ae;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 1.5rem 0 0; }

.cards {
  margin-top: 4rem; }

.card {
  background-color: white;
  padding: 2.4rem;
  border-radius: .5rem;
  margin: 3rem 0;
  box-shadow: 0px 10px 10px 0px #ccc; }
  .card-heading {
    color: #4c4e61;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .3rem; }
  .card-description {
    color: #a3a5ae;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 3rem; }
  .card-image {
    text-align: right; }
    .card-image img {
      width: 5.5rem; }

.card-1 {
  border-top: 0.5rem solid #45d3d3; }

.card-2 {
  border-top: 0.5rem solid #ea5353; }

.card-3 {
  border-top: 0.5rem solid #fcaf4a; }

.card-4 {
  border-top: 0.5rem solid #549ef2; }
