.cards {
  margin-top: 6rem;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 35rem));
    align-items: center;
    gap: 3rem;
  }
}

.card-group {
  display: flex;
  flex-direction: column;

}