.content {
  text-align: center;

  &-heading-light {
    color: color(dark-blue);
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0;

    @media (min-width: 992px) {
      font-size: 3.6rem;
    }
  }

  &-heading {
    color: color(dark-blue);
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;

    @media (min-width: 992px) {
      font-size: 3.6rem;
    }
  }

  &-description {
    color: color(gray-blue);
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 1.5rem auto 0;

    @media (min-width: 768px) {
      max-width: 60%;
    }
  }
}